body { /* Estilo del body*/
    background-color: #eee;
}

p {
    color: #222fff;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.7;
    word-spacing: 10px;
    text-shadow: 6px 5px 3px rgba(0, 0, 0, 0.5);
}
a {
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 3px;
    
}