body { /* Estilo del body*/
    background-color: #eee;
}

.caja {
    margin: 8px;
    padding: 8px;
    border-style: solid;
    border-width: 8px;
    border-color: #faa;
    border-left: 8px solid #afa;
    border-right: 8px solid #afa;
    background-color: #aaf;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    color: #eee;
}