body { /* Estilo del body*/
    background-color: #eee;
}

ul {
    list-style-type: none;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 0;
}

li {
    border-bottom: solid 1px #ddd;
    padding: 15px;
}