body { /* Estilo del body*/
    background-color: #eee;
}

.caja {
    margin: 8px;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    background-color: #fff;
    border-radius: 2px;
    border-top: solid 0px;
}

.header{
    padding: 10px;
    border-bottom: solid 1px #eee;
}

.contenido{
    padding: 10px;
    border-bottom: solid 1px #eee;
}

.footer{
    padding: 10px;
    border-top: solid 1px #eee;
}

.primario {
    background-color: #0090ff;
    padding: 5px;
    border: 0px;
    color: #fff;    
}

.secundario {
    background-color: #aaa;
    padding: 5px;
    border: 0px;
    color: #fff;
}