body { /* Estilo del body*/
    background-color: #efefef;
    color: #ff0000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

#parrafo {  /* Selector de id */
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.etiqueta {  /* Selector de clase */
    color: #00aa00;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

