body { /* Estilo del body*/
    background-color: #eee;
}

.box {
    box-shadow: 2px 2px 5px grey inset;
    
}

.text {
    position: relative;
    left: 50px;
    top: 50px;
    width: 300px;
    height: 120px;
    background-color: white;
    color: red;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.9);
    transform: skew(-15deg);
    transition: 0.3s;
    transition-delay: 0.5s;
}

.text:hover {
    transform: scale(1.05, 1.05);
    background-color: grey;
}